# Terraform
.terraform/
.terraform.lock.hcl
terraform.tfstate
terraform.tfstate.backup
*.tfvars
crash.log

# AWS credentials
.aws/
credentials

# Python
__pycache__/
*.pyc
*.pyo
.env

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db